#face {
  width: 250px;
  height: 250px;
  /*float: right;*/
  text-align: center;
  margin-left: 100px;
}

.sections {
  display: inline-block;
  position: relative;
}

h5 {
  text-align: center;
}

/*#thought-cloud {
  width: 1700px;
  height: 700px;
}*/

body {
  background-color: linear-gradient(#004159, #4F8D97);
  /*opacity: .5;*/
}