#face {
  width: 250px;
  height: 250px;
  position: relative; 
  z-index: -1;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
}

h3 {
  margin-top: 5px;
}

a {
  position: relative; 
  z-index: 1;
}

#me-area {
  float: right;
  text-align: center;
  margin-left: 100px;
}

.sections {
  display: inline-block;
  position: relative;
  margin: 45px;
}

h5 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00267F;
}

body {
  /*background-color: linear-gradient(#004159, #4F8D97);*/
  /*opacity: .7;*/
}